* {
	box-sizing: border-box;
}
html, body, ul, li, div, p {
	padding: 0;
	margin: 0;
}
ul,li {
	list-style: none;
}
i,em {
	font-style: normal;
}
a, a:hover {
	text-decoration: none;
	color: #333;
}
.hide {
	display: none;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.clearfix:after {
	content:' ';
	clear: both;
	visibility: hidden;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.arrow0 {
	display: inline-block;
	border: solid #CCCCCC;
	border-width: 0 1px 1px 0;
	padding: 5px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.ellipsis {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
}
.price {
	color: #F5222D;
}