<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>cell</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			input[type=checkbox] {
				vertical-align: middle;
			}
			.switch {
				border-color: #4CD864;
				background-color: #4CD864;
			}
			.switch {
				outline: none;
				height: 32px;
				width: 52px;
				border-radius: 16px;
				border: 1px solid #DFDFDF;
				background-color: #DFDFDF;
			}
		</style>
	</head>
	<body>
		<div>
			<input type="checkbox" class="switch" />
		</div>
	</body>
</html>
