<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>popup</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
		<link href="../css/popup.css" rel="stylesheet" />
		<style>
			html {
				font-size: 18px;
			}
			body {
				background-color: #F5F5F5;
				max-width: 600px;
				margin: 0 auto;
			}
			* {
				box-sizing: border-box;
			}
		</style>
	</head>
	<body>
		<div>
			<button id="btn_popup">popup</button>
			<button id="btn_hide">hide</button>
		</div>
		<div class="popup-modal bottom-modal">
			<div class="modal-dialog">
				<div style="padding: 25px;">
					<div>标题1</div>
					<div>标题2</div>
					<div>标题3</div>
					<div>标题4</div>
				</div>
			</div>
			
		</div>
		
		<script>
			var btnPopup = document.querySelector("#btn_popup")
			var popupModal = document.querySelector('.popup-modal')
			btnPopup.addEventListener('click', function() {
				// document.querySelector(".popup-modal").style.height = '60%'
				popupModal.classList.add('show');
			})
			
			popupModal.addEventListener('click', function() {
				popupModal.classList.remove('show')
			})
			
		</script>
	</body>
</html>
